:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333 ;
    --border-color: #dbdbdb;
    --star-gold-color: #ffce3e;
}


:root {
    --card-height: 300px;
    --card-width: calc(var(--card-height) / 1.5);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.display_none {
    display: none !important;
}